.App {
  text-align: center;
}


.header {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  text-align: center;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  height: 3.75rem;
  background-color: #2F1B45;
  margin-bottom: 2%;
}

.dataHeader {
  margin: 8px 5%;
  text-align: left !important;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}
.displayFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


/* TableComponent.css */

.tableContainer {
  margin: 12px;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 0px;
}

thead {
  background-color: #f2f3f8;
}

th, td {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: center;
}

th {
  background-color: #f2f3f8;
  font-size: 16px;
  font-weight: bold;
}

